@media (max-width: 768px){ /* I got this fromt the PDFs in Teams */
    .sidebar{display: none;}
}

@media(min-width: 768) and (orientation: landscape){
    .content{columns:2;}
}

body{
    background-color: rgb(219, 219, 219);
}

.intro{
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5em;
}

.BackgroundCV{
    background-color: rgb(0, 14, 77);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5em;
    color: white;
}

.intro p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ul_style {  /* I got the Infos about flexbox from here: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid grey;
    background-color: rgb(172, 216, 255);
    padding: 20px;
}

a{
    color: black;
}

a:hover{
    color: white;
}

a:active{
    color: white;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.intro img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.intro h2, p{
    text-align: center;
    padding: 20px;
    margin-bottom: -30px;
}

footer{
    margin: 50px;
}

.contact-form{
    background-color: rgb(221, 255, 143);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    border-radius: 1.5em;
}

.beggar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

label{
    display: block;
    margin: 0.75rem
}

form{
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
}

fieldset{
    border: none;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 3px solid black;
}

input{
    width: 100%;
    margin: none;
    margin-top: 10px;
    background-color: white;
    border: 1px solid white;
    min-height: 2em;
}

input[name="submit"]{
    display: block;
    width: 50%;
    min-width: 150px;
    max-width: 400px;
    background-color: grey;
    color: white;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 2em;
    font-size: 1.1rem;
}

.inline{
    width: unset;
    margin: 0 0.5rem 0.2rem 0;
    vertical-align: middle;
}

.galleryPictures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galleryPictures img{
    margin: 1rem 0 5rem 0;
}

@media (max-width: 768px){
    .galleryPictures img{
        margin: 0.5rem 0 2rem 0 ;
        width: 80%;
        height: auto;
    }
    label{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}

th{
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 8px;
}

td{
    padding: 10px;
    font-family: sans-serif;
}

table{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

